body {

}

.brand {
	background: url('../images/wembli-logo.png');
	background-repeat: no-repeat;
	width: 100px;
	margin-top: 10px;
	text-indent: -1000%;
}

.navbar {
	background: #0e568e;
	color: #fff;

}

.muted {
	color: #fff;
}

.badge-info {
	background: #ffcc00;
	color: #fff,
}

a {
	color: #0e568e;
}

.nav-list>.active>a {
	background-color: #0e568e;
}
