footer {
	background-color: #e5e5e5;
}

.brand {
	background: url('../images/wembli-logo.png');
	background-repeat: no-repeat;
	height: 10px;
	width: 100px;
	margin-top: 7px;
	text-indent: -1000%;
}


.navbar {
	background: #0e568e;
	color: #0e568e;

}

.muted {
	color: #fff;
}

.badge-info {
	background: #ffcc00;
	color: #fff,
}

ul {
	list-style-type:none;
	margin:0;
	padding:0;
}

a {
	color: #0e568e;
}

.nav-list > .active > a {
	background-color: #0e568e;
}

.back {
	text-decoration: none;
}

.header {
	font-weight: bold;
}

.plan-row > a {
	display: block;
	padding: 6px;
}

.plan-row:hover > a {
	background-color: #ffcc00;
	color: white;
}

.plan-row > a > div {
	line-height: 30px;
	vertical-align: middle;
}

.number {
	float: left
}

.plan-name {
	float: left
}

.signup-row > a {
	display: block;
	padding: 6px;
}

.signup-row:hover > a {
	background-color: #ffcc00;
	color: white;
}

.signup-row > a > div {
	line-height: 30px;
	vertical-align: middle;
}

.profile-pic {
	float: left;
	height: 20%;
	width: 20%;
	padding-right: 10px;
}






