body {

}

.navbar {
	background: #0e568e;
	color: #fff;

}

.muted {
	color: #fff;
}

.badge-info {
	background: #ffcc00;
	color: #fff,
}

a {
	color: #0e568e;
}

.nav-list>.active>a {
	background-color: #0e568e;
}

